html {
  background-color: #dbd6cf;
}

h1 {
  font-family: "Bevan", sans-serif;
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
  text-align: center;

  width: 25%;
  border: 1px solid #595652;
  border-radius: 10px;
  margin: 1rem auto 2rem auto;
  padding: .6em;
  display: inline-block;
  vertical-align: center;
  text-align: center;

  font-weight: normal;
  background-color: #79756f;
  color: #fff;
}

.box {
  width: 25%;
  border: 1px solid #713837;
  border-radius: 10px;
  margin: .75em;
  padding: .6em .5em .6em .5em;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  float: none;

  background-color:#713837;
  font-family: sans-serif;
  font-weight: normal;
  color: #fff;
}
