html {
  background-color: #dbd6cf;
  box-sizing: html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

h1 {
  font-family: 'Bevan', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;

  width: 100%;
  border: 1px solid #595652;
  margin: 1px;
  padding: .6em .5em;
  display: block;
  vertical-align: center;
  float: none;

  background-color:#79756f;
  color: #fff;
}

.box {
  width: 50%;
  border: 1px solid #713837;
  border-radius: 10px;
  margin: 1px;
  padding: .6em .5em;
  display: inline;
  vertical-align: center;
  text-align: center;
  float: none;

  background-color:#713837;
  font-family: sans-serif;
  font-weight: normal;
  color: #fff;
}

.box2 {
  width: 50%;
  border: 1px solid #713837;
  border-radius: 10px;
  margin: 1px;
  padding: .6em .5em;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  float: none;

  background-color:#713837;
  font-family: sans-serif;
  font-weight: normal;
  color: #fff;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

a:hover {
  color: #f33;
}
